@use "sass:color";
@use "../abstracts" as *;

.underline-indicators {
  & > * {
    cursor: pointer;
    padding: var(--underline-gap, 0.5rem) 0;
    border: 0;
    border-bottom: 0.2rem solid color.adjust($clr-white, $alpha: -1);
    &:hover,
    &:focus {
      border-color: color.adjust($clr-white, $alpha: -0.5);
    }
  }
  li:has(.active),
  [aria-selected="true"] {
    border-color: color.adjust($clr-white, $alpha: 1);
    color: color.adjust($clr-white, $alpha: 1);
  }
}

.tab-list {
  --gap: 2rem;
}

.indicators {
  @include flow(4rem);
}

.dot-indicators {
  & > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 0.5 em;
    background-color: color.adjust($clr-white, $alpha: -0.75);
    &:hover,
    &:focus {
      background-color: color.adjust($clr-white, $alpha: -0.5);
    }
  }
  .active,
  [aria-selected="true"] {
    background-color: color.adjust($clr-white, $alpha: 1);
  }
}

.numbered-indicators {
  & > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: 0 1rem;
    aspect-ratio: 1;
    outline: 1px solid color.adjust($clr-white, $alpha: -0.75);
    background-color: transparent;
    color: $clr-white;
    &:hover,
    &:focus {
      outline: 1px solid color.adjust($clr-white, $alpha: -0.5);
    }
  }
  .active,
  [aria-selected="true"] {
    background-color: color.adjust($clr-white, $alpha: 1);
    color: $clr-dark;
  }
  @include mq(medium) {
    & > * {
      padding: 0 1.65rem;
    }
  }
  @include mq(large) {
    & > * {
      padding: 0 2.25rem;
    }
  }
}
