// TODO change flex to be responsive(screen width can't shrink)
.primary-navigation {
  --gap: 8rem;
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  a {
    text-decoration: none;
    & > span {
      font-weight: 700;
      margin-right: 0.5em;
    }
  }
}
