@use "../abstracts/" as *;

:root {
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.75rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  @include mq(medium) {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
  }
  @include mq(large) {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}

//* set up the body
.root-layout {
  display: grid;
  min-height: 100vh;
  background-color: $clr-dark;
  color: $clr-white;
  font-family: $ff-sans-normal;
  font-size: var(--fs-400);
  line-height: 1.5;
  grid-template-rows: min-content 1fr;
  min-width: min-content;
  background-size: cover;
  background-position: bottom center;
}
