@use "sass:color";
@use "../abstracts/" as *;
//   ************* colors ******************

.bg-dark {
  background-color: $clr-dark;
}

.bg-accent {
  background-color: $clr-light;
}

.bg-white {
  background-color: $clr-white;
}

.text-dark {
  color: $clr-dark;
}
.text-accent {
  color: $clr-light;
}
.text-white {
  color: $clr-white;
}

// * typography

.ff-serif {
  font-family: $ff-serif;
}
.ff-sans-cond {
  font-family: $ff-sans-cond;
}
.ff-sans-normal {
  font-family: $ff-sans-normal;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: $ff-sans-cond;
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
  span {
    margin-right: 0.5em;
    font-weight: 700;
    color: color.adjust($clr-white, $alpha: -0.75);
  }
}
