@use "../abstracts/" as *;

.home {
  background-image: url("./home/background-home-mobile.jpg");
  @include mq(medium) {
    background-image: url("./home/background-home-tablet.jpg");
    background-position: center center;
  }
  @include mq(large) {
    background-image: url("./home/background-home-desktop.jpg");
  }
}

.grid-container--home {
  padding-bottom: max(6rem, 20vh);
  align-items: end;
}
