@use "../abstracts/" as *;
@use "sass:color";

.crew {
  background-image: url("./crew/background-crew-mobile.jpg");
  @include mq(medium) {
    background-image: url("./crew/background-crew-tablet.jpg");
    background-position: center center;
  }
  @include mq(large) {
    background-image: url("./crew/background-crew-desktop.jpg");
  }
}
.crew-details {
  @include flow();
  h2 {
    color: color.adjust($clr-white, $alpha: -0.5);
  }
  header {
    @include flow(0.5rem);
  }
}

.grid-container--crew {
  @include flow(2rem);
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
  & > .numbered-title {
    grid-area: title;
  }
  & > picture {
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid color.adjust($clr-white, $alpha: -0.8);
  }
  & > .dot-indicators {
    grid-area: tabs;
  }
  & > .crew-details {
    grid-area: content;
  }
  @include mq(medium) {
    grid-template-areas:
      "title"
      "content"
      "tabs"
      "image";
    & > .numbered-title {
      justify-self: start;
      margin-top: 2rem;
    }
    &.grid-container {
      padding-bottom: 0;
    }
    & > picture {
      align-self: end;
    }
  }
  @include mq(large) {
    justify-items: start;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(
        1rem,
        1fr
      );
    grid-template-areas:
      ". title title ."
      ". content image image"
      ". tabs image image";
    & > picture {
      max-width: 90%;
      align-self: end;
    }
  }
}
