@use "../abstracts/" as *;

.technology {
  background-image: url("./technology/background-technology-mobile.jpg");
  @include mq(medium) {
    background-image: url("./technology/background-technology-tablet.jpg");
    background-position: center center;
  }
  @include mq(large) {
    background-image: url("./technology/background-technology-desktop.jpg");
  }
}

.grid-container--technology {
}
