@use "../abstracts/" as *;

.technology {
  background-image: url("./technology/background-technology-mobile.jpg");
  @include mq(medium) {
    background-image: url("./technology/background-technology-tablet.jpg");
    background-position: center center;
  }
  @include mq(large) {
    background-image: url("./technology/background-technology-desktop.jpg");
  }
}

// TODO large screen layout ,image abd all

.grid-container--technology {
  padding-inline: 0;
  @include flow(2rem);
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
  & > .numbered-title {
    grid-area: title;
  }
  & > img {
    grid-area: image;
  }
  & > .numbered-indicators {
    grid-area: tabs;
  }
  & > .tech-details {
    grid-area: content;
  }
  @include mq(medium) {
    & > .numbered-title {
      justify-self: start;
      margin-top: 2rem;
      margin-left: 2rem;
    }
  }
  @include mq(large) {
    // justify-items: start;
    .numbered-indicators {
      flex-direction: column;
    }
    & > img {
      align-self: end;
      justify-self: end;
    }

    grid-template-columns: minmax(1rem, 5rem) 8rem minmax(0, 37rem) minmax(
        23rem,
        1fr
      );
    grid-template-areas:
      ". title title . "
      ". tabs content image"
      ". tabs content image";
  }
}

.tech-details {
  @include flow(1rem);
  padding-inline: 1rem;
  header {
    @include flow(0.5rem);
  }
}
