// Layout and screen radars
@use "../abstracts/" as *;
@use "sass:map";

// TODO  modify
.flex {
  display: flex;
  gap: var(--gap, 1rem);
  .item {
    flex-grow: 1;
    @include flow();
  }
}

// TODO remove unused classes
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.d-block {
  display: block;
}

.grid-container {
  p:not([class]) {
    max-width: 50ch;
  }
  display: grid;
  text-align: center;
  place-items: center;
  padding-inline: 1rem;
  padding-bottom: 4rem;
  @include mq(large) {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        1rem,
        1fr
      );
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
