// Layout and screen radars
@use "../abstracts/" as *;
@use "sass:map";

// TODO mixin or css var for gap property,remove gap?...

.flex {
  display: flex;
  gap: var(--gap, 1rem);
  .item {
    flex-grow: 1;
    @include flow();
  }
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  display: grid;
  outline: 5px solid limegreen;
  span {
    display: block;
  }
  @include mq(small) {
    // $fs-500: 9rem;
    // h1 {
    //   font-size: $fs-500;
    // }
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        2rem,
        1fr
      );
    column-gap: var(--container-gap, 2rem);
    & > *:first-child {
      grid-column: 2;
      outline: 1px solid red;
    }
    & > *:last-child {
      grid-column: 3;
      outline: 1px solid yellow;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
