// Layout and screen radars
@use "../abstracts/" as *;

// TODO mixin or css var for gap property,remove gap?...

.flex {
  display: flex;
  gap: 1rem;
  .item {
    flex-grow: 1;
    @include flow();
  }
}

.grid {
  display: grid;
  gap: 1rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
