*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.75rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}
@media (min-width: 35rem) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
  }
}
@media (min-width: 45rem) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}

.root-layout {
  display: grid;
  min-height: 100vh;
  background-color: hsl(230, 35%, 7%);
  color: hsl(0, 0%, 100%);
  font-family: "Barlow", sans-serif;
  font-size: var(--fs-400);
  line-height: 1.5;
  grid-template-rows: min-content 1fr;
  min-width: min-content;
  background-size: cover;
  background-position: bottom center;
  overflow-x: hidden;
}

.bg-dark {
  background-color: hsl(230, 35%, 7%);
}

.bg-accent {
  background-color: hsl(231, 77%, 90%);
}

.bg-white {
  background-color: hsl(0, 0%, 100%);
}

.text-dark {
  color: hsl(230, 35%, 7%);
}

.text-accent {
  color: hsl(231, 77%, 90%);
}

.text-white {
  color: hsl(0, 0%, 100%);
}

.ff-serif {
  font-family: "Bellefair", serif;
}

.ff-sans-cond {
  font-family: "Barlow Condensed", sans-serif;
}

.ff-sans-normal {
  font-family: "Barlow", sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}
.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.25);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.flex .item {
  flex-grow: 1;
}
.flex .item > *:where(:not(:first-child)) {
  margin-top: 1rem;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  display: grid;
  text-align: center;
  place-items: center;
  padding-inline: 1rem;
}
.grid-container * {
  max-width: 50ch;
}
@media (min-width: 45rem) {
  .grid-container {
    text-align: left;
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
    column-gap: var(--container-gap, 2rem);
  }
  .grid-container > *:first-child {
    grid-column: 2;
  }
  .grid-container > *:last-child {
    grid-column: 3;
  }
  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0);
}
.underline-indicators > *:hover, .underline-indicators > *:focus {
  border-color: rgba(255, 255, 255, 0.5);
}
.underline-indicators .active,
.underline-indicators [aria-selected=true] {
  border-color: white;
  color: white;
}

.tab-list {
  --gap: 2rem;
}

.indicators > *:where(:not(:first-child)) {
  margin-top: 4rem;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0.5 em;
  background-color: rgba(255, 255, 255, 0.25);
}
.dot-indicators > *:hover, .dot-indicators > *:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
.dot-indicators .active,
.dot-indicators [aria-selected=true] {
  background-color: white;
}

.numbered-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: 0 1.75rem;
  aspect-ratio: 1;
  outline: 1px solid rgba(255, 255, 255, 0.25);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.25);
}
.numbered-indicators > *:hover, .numbered-indicators > *:focus {
  outline: 1px solid rgba(255, 255, 255, 0.5);
}
.numbered-indicators .active,
.numbered-indicators [aria-selected=true] {
  background-color: white;
  color: hsl(230, 35%, 7%);
}

.large-button {
  font-size: 2rem;
  position: relative;
  display: inline-grid;
  z-index: 1;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}
.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: rgba(255, 255, 255, 0.15);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}
.large-button:hover::after, .large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 45em) {
  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    margin-right: -2.5rem;
    order: 1;
  }
  .primary-header nav {
    order: 2;
  }
}

.primary-navigation {
  --underline-gap: 2rem;
  --gap: clamp(2rem, 6vw, 3.5rem);
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(1.5rem);
}
.primary-navigation a {
  text-decoration: none;
}
.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}
@media (max-width: 35rem) {
  .primary-navigation {
    --underline-gap: 0.5rem;
    position: fixed;
    z-index: 100;
    inset: 0 0 0 30%;
    background: rgba(12, 14, 24, 0.05);
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }
  .primary-navigation[data-visible=true] {
    transform: translateX(0);
  }
  .primary-navigation.underline-indicators > .active {
    border: 0;
  }
}
@media (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(3rem, 7vw, 7rem);
  }
}
@media (min-width: 35rem) and (max-width: 45rem) {
  .primary-navigation a > span {
    display: none;
  }
}
@media (min-width: 45em) {
  .primary-navigation {
    margin-block: 2rem;
  }
}

.mobile-nav-toggle {
  display: none;
}
@media (max-width: 35rem) {
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 200;
    right: 1rem;
    top: 2rem;
    background: transparent;
    border: 0;
    background-image: url("../icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
  }
  .mobile-nav-toggle[data-visible=true] {
    background-image: url("../icon-close.svg");
  }
  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
}

#colors > *:where(:not(:first-child)) {
  margin-top: 1rem;
}

#typography > *:where(:not(:first-child)) {
  margin-top: 1rem;
}
#typography .typography__first > *:where(:not(:first-child)) {
  margin-top: 1rem;
}
#typography .typography__second > *:where(:not(:first-child)) {
  margin-top: 4rem;
}

#interactive-elements > *:where(:not(:first-child)) {
  margin-top: 1rem;
}

.test {
  background: purple;
  width: 100px;
  height: 100px;
  background-color: black;
}
@media (min-width: 20rem) {
  .test {
    background-color: red;
  }
}
@media (min-width: 35rem) {
  .test {
    background-color: green;
  }
}
@media (min-width: 45rem) {
  .test {
    background-color: blue;
  }
}

.home {
  background-image: url("./home/background-home-mobile.jpg");
}
@media (min-width: 35rem) {
  .home {
    background-image: url("./home/background-home-tablet.jpg");
    background-position: center center;
  }
}
@media (min-width: 45rem) {
  .home {
    background-image: url("./home/background-home-desktop.jpg");
  }
}

/*# sourceMappingURL=compiled.css.map */
